<div class="post-container">
  <h3><%= link_to post.title, user_post_path(user, post) %></h3>

  <p class="post-content"><%= post.text %></p>

  <p class="counter">
    Comments: <%= post.comments.size %>,
    Likes: <%= post.likes_counter.to_i %>
  </p>

  <% if can? :destroy, post %>
    <%= button_to 'Delete Post', user_post_path(post.author, post), method: :delete, data: { confirm: 'Are you sure you want to delete this post?' }, class: 'delete-button' %>
  <% end %>
</div>

<% if defined?(show_comments) && show_comments && post.comments.present? %>
<div class="comments-container">
  <% post.most_recent_comments.each do |comment| %>
    <p>
      <%= comment.user.name %>: <%= comment.text %>
    </p>
  <% end %>
</div>
<% end %>
