<div>
  <%= render partial: 'users/user_info', locals: { user: @user } %>
</div>

<div>
  <% @posts.each do |post| %>
    <div>
      <%= render partial: 'post_info',
                 locals: {
                   post: post,
                   comments: post.comments,
                   user: @user,
                   post_path: @post_path,
                   show_comments: true
                 } %>
    </div>
  <% end %>
</div>

<div>
  <% if current_page?(user_path(@user)) %>
    <%= link_to "See All Posts", user_posts_path(@user) %> 
  <% end %>
</div>

<div class="see-all-button-container">
  <%= link_to "Pagination", user_posts_path(@user), class:"see-all-button" %>
  <%= link_to "Create Post", new_user_post_path(@user), class:"see-all-button" %>
</div>
