<div class="post-container">
  <p class="post-page-title">
    <strong><%= @post.title %> by <%= @post.author.name %></strong>
    Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %>
  </p>

  <p><%= @post.text %></p>
</div>

<% if @post.comments.present? %>
  <!-- Display existing comments -->
  <div class="comments-container">
    <% @post.comments.each do |comment| %>
      <p>
        <%= comment.user.name %>: <%= comment.text %>
      </p>
    <% end %>
  </div>
<% end %>

<!-- Add comment form -->
<% if current_user %>
  <div>
    <%= render 'comments/form', post: @post, comment: Comment.new %>
  </div>
<% end %>
